:host {
  display: block;
  /*font-size: 12px;
  font-family: 'Roboto', sans-serif;
  */
  color: rgba(0,0,0,0.87);
}

host * {
	border: dotted 1px #CCC;
	margin: 2px;
	padding: 2px;
};

main {
  padding-left: 16px;
  background-color: #ffffff;
}

main > * {
	margin-right : 16px;
}

main:hover  {
	cursor : pointer;
	background-color: #EEE;
}

main:hover .actionareahidden {
	width:100px;
	border-left-width: 1px;
}

/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  color: blue;
}

/* FONTS */
.title {
	font-size: 1.3em;
	font-weight: 500;
}

.subhead {
	font-size : 1.1em;
}

.body1 {
	font-size: 1em;
}

.body2 {
	font-size: 1em;
	font-weight: 500;
} 

.caption {
	font-size: 0.8em;
	color: rgba(0,0,0,0.54);
}

/* LAYOUT */

.iconarea {
	width: 48px;
	height: 56px;
}

.icon {
	width: 36px;
	height: 36px;
	border-radius: 25px;
	background-color: #DDD;
}

.contentarea {
	padding-top : 8px;
	overflow: hidden;
}

.textarea {
	margin-right : 8px;
	overflow : hidden;
}

.textarea > div {
	padding-top:4px;
	width : 1000px;
}

.infoarea {

}

.actionarea {
    margin-right : 0px;
    overflow: hidden;
    border-left : solid 1px #FFF;
    width:100px;
}

.actionareahidden {
    -webkit-transition: width 0.3s easy; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
    border-left-width: 0px;
    width:0px;
}

content[select="i"]::content i {
	font-size: 2em;
}

content[select="core-icon"]::content core-icon {
	border-radius: 20px;
	color: #FFF;
	font-weight: 500;
	background-color: #88B0D4;
	margin-right:4px;
}

content[select="paper-button"]::content paper-button {
	min-width: 40px;
	min-height: 40px;
	border-radius: 20px;
}

content[select="paper-button"]::content paper-button:hover {
	background-color: #CCC;
}